.formField fieldset{border:1px solid #bdbaba;-moz-border-radius:7px; font-size:11px; text-align:left; padding:10px; color:#646464; font-family:arial; width:200px; margin:auto;}
.formField fieldset legend{font-size:14px;}
ul{padding:0; margin:0; list-style:none}
#loginbox{ clear:both;width:200px;}
#loginbox ul li{clear:both; padding-bottom:8px;}
#loginbox ul li .input {border:1px solid #ececec;font-family: Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#8d8d8d; padding:3px 2px 4px 5px; width:98%;}
#loginbox ul li a{color:#1eb5fc; text-decoration:none;}
#loginbox ul li a:hover{text-decoration:underline;}
#loginbox ul li p{padding:0; margin:0;}
#lock{float:left; width:95px;}