.ie-shadow { box-shadow: -2px 2px 7px #969696;  behavior: url(ie-css3.htc); float: right; display: inline; }
.ie-shadow img.right { float: none; }

.ie-l-shadow { box-shadow: -2px 2px 7px #969696;  behavior: url(ie-css3.htc); float: left; display: inline; }
.ie-l-shadow img.left { float: none; }

.shadowed {
	background-color: #fff;
	zoom: 1;
	filter: progid:DXImageTransform.Microsoft.Shadow(color='#969696', Direction=-135, Strength=3);
}